.container {
  background: white;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px -4px black;
}
.title {
  font-size: 24px;
}
.subtitle {
  font-size: 22px;
}
.list li {
  opacity: 0.75;
  margin: 5px 0;
}
.second{
  border-top: 1px dashed black;
}
